.card(style="--background:#3C3B3D; --text:white;")
    div.multi-button <!--Don't need to say how many buttons there will be, handled on lines 42-93-->
        button.fas.fa-heart
    div.container
.card
    div.multi-button
        button.fas.fa-heart
        button.fas.fa-clipboard
    div.container
.card(style="--background:#EC87C0; --text:white;")
    div.multi-button
        button.fas.fa-heart
        button.fas.fa-comment
        button.fas.fa-share-alt
    div.container
.card(style="--background:#5D9CEC; --text:white;")
    div.multi-button
        button.fas.fa-heart
        button.fas.fa-comment
        button.fas.fa-share-alt
        button.fas.fa-trash
    div.container